[Unit]
Description=SampleSheet Subscriber
Documentation=https://pypi.org/project/sssub

[Service]
Type=simple
ExecStartPre=/usr/bin/gcloud auth configure-docker
ExecStart=/usr/bin/docker run --rm -w /mnt/disks/sssub -v /mnt/disks/sssub:/mnt/disks/sssub gcr.io/cgsdevelopment-1216/sssub:a451edd -c /mnt/disks/smon/sssub.conf
[Install]
WantedBy=multi-user.target

